
$light-color: #f9f9f9;
$darker-color: rgb(17, 69, 124);
$dark-color:rgb(3, 28, 54);
$neutral-color: rgb(104, 166, 231);
$clear-color: rgb(247, 175, 67);
$titles-font:'Titillium Web', sans-serif;
$maintext-font: 'Montserrat', sans-serif;


* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.page-title,
.sub-text,
.titles {
      font-family: $titles-font;
      padding-top: 30px;
      text-align: center;
      
}

.header {
      position: relative;
      background-image: linear-gradient( rgba(3, 21, 41, 0.7),  rgba(8, 58, 112, 0.5)), url('images/jem-sahagun-O33vBPD6hAw-unsplash.jpg');
      filter: grayscale(60%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 200px;
      padding: 50px;
      color: $light-color;
      .page-title {
            font-size: 2.5rem;
      }
      .sub-text {
            font-weight: bold;
      }
}

.main {
      line-height: 1.6;
      position: relative;

      p {
            max-width: 900px;
            margin: 0 auto;
      }

      .titles {
            font-size: 1.5rem;
            margin-bottom: 40px; 
      }

      .access-icon {
            color: rgba(235, 139, 14, 0.4);
            font-size: 200px;
            position: absolute;
            bottom: 80%;
            right: 5%;
      }

            .info-text, .list, .image-text {
                  font-size: 1.35rem;
            }

      .light-container {
            background-color: $light-color;
            padding: 40px 30px 100px;

            .darker-title {
                  color: $darker-color;
            }

            .dark-text {
                  color: $dark-color;
            }
      }

      .darker-container {
            background-color: $darker-color;
            padding: 40px 30px 150px;

            .neutral-title {
                  color: $clear-color;
            }

            .light-text {
                  color: $light-color;
            }
      }

      .lists-container {
            background-color: $neutral-color;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 40px 0px 100px;
            
            .list-title {
                  color: $light-color;
                  min-width: 300px;

                  i {
                        color: $dark-color;
                        font-size: 35px;
                        margin-right: 20px;
                  }
            }

            .list {
                  color: black;
                  list-style: circle;
                  max-width: 500px;
                  margin-left: 30px;
                  padding: 0px 20px;
            }

            .list-item {
                  margin-bottom: 20px;
            }
      }

      .ext-links {
            background-color: $darker-color;
            padding-bottom: 100px;

            .ext-title {
                  color: $clear-color;
                  margin-bottom: 40px;
                  
            }

            .link-wrapper {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-around;
                  
                  .image-text {
                        align-self: initial;
                  }
                  .wave {
                        align-self: flex-end;
                        margin-top: 52px;
                  }

                  .image-links {
                        text-align: center;
                        border: 3px solid $clear-color;
                        border-radius: 10px;
                        margin-top: 30px; 
                        background-color: $light-color;
                        max-width: 400px;
                        height: 250px;
                        padding: 30px;
      
                        &:hover {
                              background-color: $neutral-color;
                        }

                        img {
                              max-width: 300px;
                        }
      
                        a {
                              text-decoration: none;
                              color: $dark-color;
                        }
                  }
            }
      }

}
      
      @media only screen and(min-width: 600px) {
            .header {
                  height: 400px;
                  .page-title {
                        font-size: 4rem;
                  }
                  .sub-text {
                        font-size: 1.7rem;
                  }
            }
                  .lists-container {
                        flex-direction: row;
                        .list {
                              margin: 60px;
                        }
            }
            
      }


.footer {
      background-color: $light-color;
      padding: 50px;
      .footer-text {
            text-align: center;
      }
}
