$mainBackgroundColor: rgb(76, 159, 247);
$containerBackgroundColor: rgba(126, 183, 245, 0.9);
$mainTextColor: rgb(3, 28, 54);
$titleFontfamily: 'Titillium Web', sans-serif;
$titlesColor: white;

@mixin mq($size){
      @media only screen and (min-width: $size) {
            @content;
      }
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

html, body {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      color: $mainTextColor;
      width: 100%;
      min-height: 100%;
      @include mq(600px) {

      }
}

body {
      
      background: $mainBackgroundColor;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.main {
      position: relative;
      i {
            font-size: 400px;
            color: white;
            position: absolute;
            z-index: -2;
            right: 60px;
            top: 120px;
      }
}

.header {
      font-family: $titleFontfamily;
      text-align: center;
      color: $titlesColor;
      position: relative;
            background-image: linear-gradient( rgba(76, 159, 247, 0.7),  rgba(76, 159, 247, 0.5)), url('images/jem-sahagun-O33vBPD6hAw-unsplash.jpg');
            filter: grayscale(30%);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 500px;
            position: relative;      
      .page-title {
            font-size: 90px;
            margin-top: 100px;
      }
      .sub-text {
            font-size: 30px;
            font-weight: bold;
      }
}

.info {
      background: $containerBackgroundColor;
      border-radius: 15px;
      width: 90%;
      width: 1100px;
      margin: 20px auto;
      padding: 30px 50px;
      .titles {
            font-family: $titleFontfamily;
            margin-bottom: 20px;
            font-size: 28px;
            color: $titlesColor;
            font-weight: bolder;
      }
      .info-text {
            line-height: 1.6;
            margin-bottom: 40px;
            font-weight: bolder;
            letter-spacing: 0.5px;
            max-width: 500px;
      }
      
}

