
$light-color: #f9f9f9;
$darker-color: rgb(17, 69, 124);
$dark-color:rgb(3, 28, 54);
$neutral-color: rgb(76, 151, 238);
$clear-color: rgb(247, 175, 67);
$titles-font:'Titillium Web', sans-serif;
$maintext-font: 'Montserrat', sans-serif;

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.page-title,
.sub-text,
.titles {
      font-family: $titles-font;
      margin-top: 30px;
      text-align: center;
}

.header {
      position: relative;
      background-image: linear-gradient( rgba(3, 21, 41, 0.7),  rgba(8, 58, 112, 0.5)), url('images/jem-sahagun-O33vBPD6hAw-unsplash.jpg');
      filter: grayscale(60%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 200px;
      padding: 50px;
      color: $light-color;
      .page-title {
            font-size: 2.5rem;
      }
      .sub-text {
            font-weight: bold;
      }
}

.main {
      line-height: 1.6;
      div, .lists-container {
            padding: 20px 40px;
            .titles {
                  font-size: 1.5rem;
                  margin-bottom: 20px; 
                  letter-spacing: 1.3px;
            }
            .info-text, .list {
                  font-size: 1.35rem;
            }
            .access-icon {
                  color: $neutral-color;
                  font-size: 150px;
                  display: flex;
                  justify-content: flex-end;
            }
      }
      .light-container {
            background-color: $light-color;
            .darker-title {
                  color: $darker-color;
            }
            .dark-text {
                  color: $dark-color;
            }
      }
      .darker-container {
            background-color: $darker-color;
            .neutral-title {
                  color: $clear-color;
            }
            .light-text {
                  color: $light-color;
            }
            .sign-language-icon {
                  margin-right: 20px;
                  font-size: 60px;
                  color: $neutral-color;
            }
      }
      .lists-container {
            background-color: $neutral-color;
            .list-title {
                  color: $light-color;
                  min-width: 200px;
                  i {
                        color: $dark-color;
                        font-size: 50px;
                        margin-right: 20px;
                  }
            }
            .list {
                  color: black;
                  list-style: circle;
            }
            .list-item {
                  margin-bottom: 10px;
            }
      }
}
