
$light-color: #f9f9f9;
$darker-color: rgb(17, 69, 124);
$dark-color:rgb(3, 28, 54);
$neutral-color: rgb(104, 166, 231);
$clear-color: rgb(247, 175, 67);
$titles-font:'Titillium Web', sans-serif;
$maintext-font: 'Montserrat', sans-serif;

@mixin mq($size){
      @media only screen and(min-width: $size) {
            @content;
      }
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.page-title,
.sub-text,
.titles {
      font-family: $titles-font;
      margin-top: 30px;
      text-align: center;
      
}

.header {
      position: relative;
      background-image: linear-gradient( rgba(3, 21, 41, 0.7),  rgba(8, 58, 112, 0.5)), url('images/jem-sahagun-O33vBPD6hAw-unsplash.jpg');
      filter: grayscale(60%);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 200px;
      padding: 50px;
      color: $light-color;
      .page-title {
            font-size: 2.5rem;
      }
      .sub-text {
            font-weight: bold;
      }
}

.main {
      line-height: 1.6;
      position: relative;

      .titles {
            font-size: 1.5rem;
            margin-bottom: 20px; 
      }

      .access-icon {
            color: rgba(153, 208, 245, 0.4);
            font-size: 170px;
            position: absolute;
            bottom: 77%;
            right: 5%;
      }

      div, .lists-container, .ext-links {
            padding: 20px 50px;

            .info-text, .list, .image-text {
                  font-size: 1.35rem;
                  margin-bottom: 20px;
            }
      }

      .light-container {
            background-color: $light-color;

            .darker-title {
                  color: $darker-color;
            }

            .dark-text {
                  color: $dark-color;
            }
      }

      .darker-container {
            background-color: $darker-color;

            .neutral-title {
                  color: $clear-color;
            }

            .light-text {
                  color: $light-color;
            }
      }

      .lists-container {
            background-color: $neutral-color;

            .list-title {
                  color: $light-color;
                  min-width: 200px;

                  i {
                        color: $dark-color;
                        font-size: 35px;
                        margin-right: 20px;
                  }
            }

            .list {
                  color: black;
                  list-style: circle;
            }

            .list-item {
                  margin-bottom: 10px;
            }
      }

      .ext-links {
            background-color: $darker-color;
            padding-bottom: 100px;

            .ext-title {
                  color: $clear-color;
                  margin-bottom: 50px;
            }

            .image-links {
                  text-align: center;
                  border: 3px solid $clear-color;
                  border-radius: 10px;
                  margin-top: 30px; 
                  min-height: 220px;
                  background-color: $light-color;

                  &:hover {
                        background-color: $neutral-color;
                  }

                  a {
                        text-decoration: none;
                        color: $dark-color;
                  }
            }

            .image-link {
                  width: 250px;
                  padding: 30px;
            }
      }
}

.footer {
      background-color: $light-color;
      padding: 50px;
      .footer-text {
            text-align: center;
      }
}
