* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-title,
.sub-text,
.titles {
  font-family: "Titillium Web", sans-serif;
  padding-top: 30px;
  text-align: center;
}

.header {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 21, 41, 0.7)), to(rgba(8, 58, 112, 0.5))), url("images/jem-sahagun-O33vBPD6hAw-unsplash.jpg");
  background-image: linear-gradient(rgba(3, 21, 41, 0.7), rgba(8, 58, 112, 0.5)), url("images/jem-sahagun-O33vBPD6hAw-unsplash.jpg");
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;
  padding: 50px;
  color: #f9f9f9;
}

.header .page-title {
  font-size: 2.5rem;
}

.header .sub-text {
  font-weight: bold;
}

.main {
  line-height: 1.6;
  position: relative;
}

.main p {
  max-width: 900px;
  margin: 0 auto;
}

.main .titles {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.main .access-icon {
  color: rgba(235, 139, 14, 0.4);
  font-size: 200px;
  position: absolute;
  bottom: 80%;
  right: 5%;
}

.main .info-text, .main .list, .main .image-text {
  font-size: 1.35rem;
}

.main .light-container {
  background-color: #f9f9f9;
  padding: 40px 30px 100px;
}

.main .light-container .darker-title {
  color: #11457c;
}

.main .light-container .dark-text {
  color: #031c36;
}

.main .darker-container {
  background-color: #11457c;
  padding: 40px 30px 150px;
}

.main .darker-container .neutral-title {
  color: #f7af43;
}

.main .darker-container .light-text {
  color: #f9f9f9;
}

.main .lists-container {
  background-color: #68a6e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px 100px;
}

.main .lists-container .list-title {
  color: #f9f9f9;
  min-width: 300px;
}

.main .lists-container .list-title i {
  color: #031c36;
  font-size: 35px;
  margin-right: 20px;
}

.main .lists-container .list {
  color: black;
  list-style: circle;
  max-width: 500px;
  margin-left: 30px;
  padding: 0px 20px;
}

.main .lists-container .list-item {
  margin-bottom: 20px;
}

.main .ext-links {
  background-color: #11457c;
  padding-bottom: 100px;
}

.main .ext-links .ext-title {
  color: #f7af43;
  margin-bottom: 40px;
}

.main .ext-links .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .ext-links .link-wrapper .image-text {
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
}

.main .ext-links .link-wrapper .wave {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 52px;
}

.main .ext-links .link-wrapper .image-links {
  text-align: center;
  border: 3px solid #f7af43;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #f9f9f9;
  max-width: 400px;
  height: 250px;
  padding: 30px;
}

.main .ext-links .link-wrapper .image-links:hover {
  background-color: #68a6e7;
}

.main .ext-links .link-wrapper .image-links img {
  max-width: 300px;
}

.main .ext-links .link-wrapper .image-links a {
  text-decoration: none;
  color: #031c36;
}

@media only screen and (min-width: 600px) {
  .header {
    height: 400px;
  }
  .header .page-title {
    font-size: 4rem;
  }
  .header .sub-text {
    font-size: 1.7rem;
  }
  .lists-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .lists-container .list {
    margin: 60px;
  }
}

.footer {
  background-color: #f9f9f9;
  padding: 50px;
}

.footer .footer-text {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */